*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #F9F9F9;
}

table {
    width: 800px;
    border-collapse: collapse;
    margin: 40px auto;
    background-color: #CDF0EA;
}

tr, td {
    padding: 8px;
    height: 36px;
    /* border: 1px solid black; */
}


#title-table {
    background-color: #BEAEE2;
}

.btn {
    border: none;
    width: 100px;
    border-radius: 4px;
    line-height: 18px;
    cursor: pointer;
}

.btn-delete {
    background-color:#F38BA0 ;
    
}

.btn-update {
    background-color: #B5DEFF;
}


#add-product-form {
    padding: 20px;
    display: grid;
    min-height: 50px;
    width: 600px;
    background-color: #CDF0EA;
    margin: 40px auto;
    box-sizing: border-box;
    border-radius: 4px;
}

.input-field {
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.input-field>input {
    height: 24px;
}


/* --------------------- */
#catalogue {
    width: 800px;
    min-height: 300px;
    margin: 40px auto;
}

.catalogue-title {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1.5fr 0.8fr 2fr;
    line-height: 48px;
    text-align: center;
    background-color: #14279B;
    color: #fff;
    border-radius: 8px 8px 0px 0px;
    font-size: 18px;
}

.catalogue-title--header {

}

.catalogue-list {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1.5fr 0.8fr 2fr;
    line-height: 36px;
    text-align: center;
    background-color: #E6E6E6;
    border-bottom: 1px solid #3D56B2;

}
.catalogue-item {
}

.catalogue-list:last-child {
    border-radius: 0px 0px 8px 8px;
    border-bottom: none;
}

